<div class="container-fluid">
  <div class="jumbotron">
    <input type="text" [(ngModel)]='title' />
    <!-- <ul>
  <li *ngFor="let emp of employees | async">
    {{emp.id}}  {{emp.name}}

  </li>
</ul> -->
  <hr class="my-4">
  <p>{{title}}</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    <emp-count [All]=getAllCount()
    [Male]=getMaleCount()
    [FeMale]=getFeMaleCount()
    (radioButtonValueChange) =raiseMethod($event)></emp-count>
  </div>
</div>
